body{
    background: #fff;
}
h3{
    color: #000;
}
.profileTextbox {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
}
h2, p, span{color:#000;}

h2 {align-self: center;}

.addRemoveDepartment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}





@media (max-width: 800px) {
    .bigSquare{
        width: 90%;
        margin: 0em;
        padding: 1em;
        
    }
    
    input{width: 80%;}
    
    .userBanner{
        overflow:scroll;
        display:flex;
        gap: 10px;
    }   
    .addDepartment > .userBanner{
        flex-direction: column;
    }
}