body {
    background-color: white;
  }
  
  h1 {
    color: #007bff;
  }
  
  .profileTextbox {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  body  p{
    color: black;
  }
  
@media (max-width: 800px) {
  .bigSquare{
    width: 90%;
    margin: 0em;
    padding: 1em;
    
  }
  
  input{width: 80%;}

}
  