html{min-height: 100%;}
body {
    margin: 0;
    background-color: #222;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

h1, h2, h3, p{color: #fff}

a{
    display: flex;
    align-self: center;
}

.realBody {
    overflow:scroll;
}

.invisibleTicket{
    display: none;
}

.ticketList{
    overflow: scroll;
    margin: 1em;
}

#ticket {
    background-color: #091212;
    padding: 1em;
    margin: 1em;
}

#ticketSocials{
    display: flex;
    gap: 2em;
}

.header {
    display: flex;
    background-color:#091212;
    padding-left: 1em;
    justify-content: space-between;
}

#footer{
    margin-top: auto;
}

.profileButtonForm {
    display: flex;
}

.profileTextbox {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #222;
    color: #fff;
    font-size: 20px;
}

.existingFilters{
    margin-top: 1em;
}

.existingFilter{
    border: 2px;
    border-color: #fff;
    border-style: dashed;
}